@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Knewave&display=swap');

.navbar {
  background-color: #000000;
  border-radius: 5px;
}
.navbar li {
  float: left;
  list-style: none;
  margin: 7px 27px;
}

.navbar li a {
  padding: 3px 7px;
  text-decoration: none;
  color: white;
  font-family: 'Knewave';
}
.navbar li a:hover {
  background-color: red;
  border-radius: 4px;
  }

.navbar ul {
  overflow: auto;
}

.pp {
  font-family: "Bebas Neue";
}